---
---

@import "bootstrap";

$mrcc-black: #111111;
$mrcc-white: #ffffff;
$mrcc-grey: #5F7470;
$mrcc-blue: #1F01B9;
$mrcc-red: #F24236;
$mrcc-title: 'Montserrat', sans-serif;
$mrcc-body: 'Roboto', sans-serif;

h1,h2,h3,h4,h5 {
  font-family: $mrcc-title;
}
body {
  font-family: $mrcc-body;
}
.navbar-brand {
  font-family: $mrcc-title;
  font-size: 1.5rem;
  color: $mrcc-black;
}
.navbar-light .navbar-toggler {
  font-size: 1.5rem;
  color: $mrcc-black;
  border: none;
}
.block-header-2--title a {
  color: $mrcc-black;
  font-family: $mrcc-title;
  text-decoration: none;
  font-size: 2rem;
}
.block-hero-2 {
  background-position: center;
  background-size: cover;
}
// .block-hero-2::after {
//   content: ""; // ::before and ::after both require content
//   position: absolute;
//   top: 62px;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-image: linear-gradient(45deg, rgba(242,66,54,0.6713060224089635) 0%, rgba(242,66,54,0.4023984593837535) 34%, rgba(31,1,185,0.520045518207283) 60%, rgba(31,1,185,0.5732668067226891) 92%, rgba(31,1,185,0.5816701680672269) 100%);
//   opacity: .7;
//   z-index: 1;
// }
// .block-hero-2 > * {
//   z-index: 100;
// }
.page-header {
  height: 40vh;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  .jumbotron {
    background-color: transparent;
    height: 100%;
    color: white;
  }
}

.btn {
  font-size: 1rem !important;
  text-transform: uppercase !important;
  padding: .5rem !important;
  font-family: $mrcc-title !important;
  border-radius: 0;
  border-color: #111111;
  color: #111111;
}
.btn:hover {
  background-color: #111111;
  border-color: #111111;
}
.block-feature-form {
  background-color: $mrcc-black;
  color: white;
}
input,.form-control {
  line-height: 22px;
  font-family: $mrcc-body;
  height: 50px;
  border: 1px black solid !important;
  border-radius: 0px !important;
}
input:focus,.form-control:focus {
  outline: 2px $mrcc-blue solid !important;
  box-shadow: none;
}
.block-feature-form .columns {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
}
.feature-block {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.block-feature-form .column.text {
  margin-right: 0;
  margin-bottom: 32px;
  margin-bottom: 2rem;
}

.block-feature-form .column.form, .block-feature-form .column.text {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%
}

.block-feature-form .column.text h2 {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

.block-feature-form .column.form form {
  max-width: 100%;
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  input, textarea, select {
    background-color: white;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  }
  label {
  }
}
.button .mrcc-icon img {
  width: 30px;
  position: relative;
  top: 4px;
}
@media screen and (min-width:700px) {
  .block-feature-form .columns {
    text-align: left;
  }

  .block-feature-form .column.text {
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    margin-right: 2rem;
    margin-bottom: 0;
  }

  .block-feature-form .column.form {
    -ms-flex: 0 0 calc(60% - 2rem);
    flex: 0 0 calc(60% - 2rem);
  }
}
