<section class="block block-feature-form">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 offset-md-3">
        <form>
          <div class="form-group">
            <label>Your name</label>
            <input class="form-control" type="text" id="name">
          </div>
          <div class="form-group">
            <label for="email">Your email address</label>
            <input class="form-control" type="email" id="email">
          </div>
          <div class="form-group">
            <label for="interest">What cycling are you interested in?</label>
            <select class="form-control" id="interest">
              <option>Introductory/beginner</option>
              <option>14-16mph 30 miles</option>
              <option>16-18mph 40 miles</option>
              <option>18+mph 40+ miles</option>
              <option>Competetive</option>
            </select>
          </div>
          <div class="form-group">
            <label for="extra">Anything else we need to know like health conditions etc?</label>
            <textarea class="form-control" id="extra" rows="3"></textarea>
          </div>
          <button class="button">Join</button>
        </form>
      </div>
    </div>
  </div>
</section>
