<section class="block block-feature-1">
  <div class="container">
    <div class="columns">
      <div class="column text">
        <h2><span class="light">{{ section.headline }}</span></h2>
        <p>{{ section.content }}</p>
      </div>
      <div class="column media">
        <form>
          <div class="form-group">
            <input class="form-control" type="text" id="firstName">
            <label for="firstName">Name</label>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
